{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier votre compte' %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center my-5">Modifier votre compte</h1>

        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastName) }}
                </div>
            </div>

            {{ form_rest(form) }}
            
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Appliquer les modifications</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
