{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}

    <article>
        <h1>{{pin.title}}</h1>
        <p>{{pin.description}}</p>
        <a href="{{path('app_pins_edit', {id: pin.id}) }}">Edit</a>
        <a href="{{path('app_home')}}">Back</a>
        <a href="https://google.com" onclick="event.preventDefault(); confirm('Etes vous sur ?') && document.getElementById('js-pin-delete-form').submit();" >Delete</a>
    </article>
            <form id="js-pin-delete-form" action="{{path('app_pins_delete', {id: pin.id})}}" method="get" style="display: none;">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
        </form>

{% endblock %}


